
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    height: 100vh;
    background: url(c5.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;

}
nav{
  background: #1b1b1b;
  background: flex;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
    float: left;
    color: #ffff;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
nav ul{
    float: right;
    list-style:none ;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}
nav ul li a{
    color: #ffff;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding:9px 15px;
}
nav ul li a:hover{
    color: rgb(255, 0, 140);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255, 0, 140),
                0 0 5px rgba(255, 0, 140);
}
nav ul ul li a:hover{
    color:rgba(255, 0, 140);
    box-shadow: none;
}
nav ul ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    border-top: 3px solid rgb(255, 0, 140);
    visibility: hidden;
    transition:top .3s;
}
nav ul ul ul{
    border-top: none;

}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0;
    width: 200px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,.3);
}
nav ul ul li a{
  line-height: 50px;

}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 200px;

}
nav .fa{
    margin-right: 8px;
}
 
.show ,input{
    display: none;
}
.icon, input{
    display: none;
}
p{
    color: #ffff;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left:40%;
}
@media all and (max-width:900px){
  nav ul{
    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%; 
  } 
  nav ul li, nav ul ul li{
      display: block;
      width: 100%;
  }
  nav ul ul{
      top: 70px;
      position: static;
      border-top: none;
      float: none;
      display: none;
      opacity: 1;
      visibility: visible;
  }
  nav ul ul ul li{
      position: static;
  }
  nav ul ul li{
      border-bottom: 0px;
  }
  nav ul ul {
     padding-left: 40px;
  }
  nav ul ul ul a{
    padding-left: 80px;
 }
  .show{
      display: block;
      color:white;
      font-size: 18px;
      padding: 0 20px;
      line-height: 70px;
      cursor: pointer;
  }
  .show:hover{
      color: cyan;

  }
  .icon{
      display: block;
      color: #ffff;
      position: absolute;
      right: 0px;
      top: 25px;
      font-size: 25px;
      cursor: pointer;
  }
  nav ul li a:hover{
   box-shadow: none;
  }
  .show+a, ul{
      display: none;
  }
  [id^=btn]:checked+ul{
      display: block;
  }
}